* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}


.carousel {
width: 100%;
}

.slide-box {
display: flex;
justify-content: space-between;
}

#card-container{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.inv {
  display: none !important;
}

.responsive {
  max-width: 100% !important;
  height: auto !important;
}

@media (min-width: 576px) and (max-width: 767.98px) {
.slide-box img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
.slide-box img {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
}

@media (min-width: 992px)
{
.slide-box img {
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  max-width: 75%;
}
}

.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: .5rem;
}

#logo {
  text-align: center;
}

.carousel-ctrl {
background: black;
}

#imglogo {
  height: auto;
  width: 50%;
}

.spacer-card{
  border: 0px !important;
}

footer {
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

@media (min-width: 1200px) {
  .col-xl-0 {
    display: none;
  }
}




/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media (min-width: 992px) {
  .col-lg-0 {
    display: none;
  }
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-0 {
    display: none;
  }
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-0 {
    display: none;
  }
}

@media (max-width: 575px) {
  .col-0 {
    display: none;
  }
}
